body, html {
    height: 100%;
    margin: 0%;
    font-size: 15px; 
}

header {
    width: 100%;
    background-color: black;   
}
h1 {
    text-align: right;
    margin: 10px 0px;
    line-height: 0.95;
}
h1 a {
    text-decoration: none;
    color: white;
}
.myName {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.568);
}
header .highlight {
    color: orangered;
}
.headerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    min-height: 100px;
}
/* 네비게이션 */
nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0%;
    margin: 0%;
    list-style-type: none;
}
nav ul li {
    padding: 0 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding-bottom: 3px;
    font-size: 20px;
}

nav li a:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.568);
    border-bottom: 3px solid orangered; 
}

@media screen and (max-width:770px) {
    .headerTop {
        flex-direction: column;
    }
    nav {
        padding-bottom: 12px;
    }
    nav ul li {
        padding: 0 12px;
    }
}
