

html, body {
    height: 100%;
    margin: 0%;
    font-size: 15px; 
}

header {
    width: 100%;
}
h1 {
    border-radius: 10px;
    padding: 8px 20px;
    text-align: right;
    margin: 10px 0px;
    line-height: 0.95;    
}



h1 a {
    text-decoration: none;
    color: white;
}
.myName {
    font-size: 20px;
    color: rgb(255, 255, 255);
}
header .highlight {
    color: white
}
.headerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    min-height: 100px;
}
/* 네비게이션 */
nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0%;
    margin: 0%;
    list-style-type: none;
}
nav ul li {
    padding: 0 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding-bottom: 3px;
    font-size: 20px;
}

nav li a:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.568);
    border-bottom: 3px solid orangered; 
}

@media screen and (max-width:770px) {
    .headerTop {
        flex-direction: column;
    }
    nav {
        padding-bottom: 12px;
    }
    nav ul li {
        padding: 0 12px;
    }
}

html::after {
    content: "";
    background-image: url(/nztrip-staticpage/IMG_1208.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    position: absolute;
    z-index: -1;   
    height: 110vh;
}





/* section1 */
#homePage {
    min-height: 980px;
    position: relative;
    animation-name: homeFadeIn;
    animation-duration: 3s;
}

@keyframes homeFadeIn {
    from {
        opacity: 0.2;
    } to {
        opacity: 1;
    }

}


#homePage > div {
    background-color: rgba(0, 0, 0, 0.473);
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 800px;
    color: white;
    padding: 10px 20px;
    box-shadow: 4px 4px rgba(255, 255, 255, 0.568);
    border-radius: 40px;
}

.askText {
    font-size: 35px;
    font-family: 'Handlee', cursive;
    letter-spacing: 20px;;
}

.askText > .NewZ {
    font-family: 'Handlee', cursive;
    font-weight: 100;
    letter-spacing: 10px;
    font-size: 90px; 
}

@media screen and (max-width: 770px) {
    #homePage > div { 
        width: 300px;
        transform: translate(-50%, -30%);
    }
    .askText {
        font-size: 26px;
    }
    .askText > .NewZ {
        font-size: 60px;
    }
    
}

.introText {
    text-align: center;
    background-color: rgb(46, 45, 45);
    font-size: 50px;
    font-family: 'Handlee', cursive;
    color: white;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* section2 */
#wellington {
    margin: auto;
    width: 100%;
    height: 100vh;
}

#wellington::after {
    content: "";
    background-image: url("/nztrip-staticpage/wellybackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5;
    top: 110vh;
    left: 0;
    bottom: 0px;
    right: 0;
    z-index: -1;   
    position: absolute;
    height: 100vh;
}

.slideBox {
    margin: 15px auto;
    width: 80%;
    height: clac(var(--width)*47.88/71.82);
    clear: both;
    overflow: hidden;
    border: 10px solid transparent;
    border-image: linear-gradient(to top, rgb(250, 253, 250) 0%, rgb(102, 99, 99) 100%);
    border-image-slice: 3;
}
.wellyImgs {
    position: relative;
    display: flex;
    width: 100%;
    height: clac(var(--width)/3*47.88/71.82);
    clear: both;
    
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}


.wellyImgs>.slide {
    position: relative;
    width: 100%;
    float: left;
}

 @media screen and (max-width: 770px) {
    .slideBox {
        width: 322.812px;
        height: 239.1137px;
        margin: 50px auto;
    }
    .wellyImgs>.slide {
        width: 322.812px;
        height: 239.1137px;
    }
    #wellington::after {
        height: 50vh;
    }
    .slideBtn {

    }
 }

#slide-1:target ~ .wellyImgs {
    left: 0px;
  }
#slide-2:target ~ .wellyImgs {
    left: -100%;
  }
#slide-3:target ~ .wellyImgs {
    left: -200%;
}  

@media screen and (min-width: 1530px) {
    .slideBox  {
        width: 1256.85px;
        height: 837.9;
    }
    
}

.slideBtn {
    position: relative;
    left: 50%;
    top: 0%;
    transform: translate(0, -50%);
  }

.slideBtn > a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.671);
  }


  #tongariro {
    height: 10000px;
  }